@zerobias-org:registry=https://pkg.zerobias.org
@zerobias-com:registry=https://pkg.zerobias.org
@auditlogic:registry=https://pkg.zerobias.org
@auditmation:registry=https://pkg.zerobias.org
//pkg.zerobias.org/:_authToken=${ZB_TOKEN}
omit-lockfile-registry-resolved=true
