*.swp
*.log
*.log.gz
*.class

serverless.yml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA
.idea
*.iml
*.ipr
*.iws
out/

# JRebel
rebel.xml
rebel-remote.xml
.rebel.xml.bak
.rebel-remote.xml.bak

# macOS
.DS_Store

# maven
dependency-reduced-pom.xml
target/
test-output/

# gradle
build/
.gradle
.tags
.lvimrc
local.properties

# Eclipse
.classpath
.settings
.project 

# VSCode
.vscode/

# helm
**/charts/**
**/*.tgz

# node
node_modules/

# Autogen
.openapi-generator/
src/graphql/
graphql.zip
full.yml
**/full.yml
**/cc-server.yml
**/core.yml
**/serverless.yml
generated/
src/html
web/content/

**/dist/**

# Secrets
**/.env
/schemas/database/postgres/07-views.sql
.envrc

image/**/package-lock.json
dbz-config.json

scripts/clean**
.nx/
