@auditmation:registry=https://npm.pkg.github.com/
@auditlogic:registry=https://npm.pkg.github.com/
@zerobias-com:registry=https://npm.pkg.github.com/
@zerobias-org:registry=https://pkg.zerobias.org/
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
//pkg.zerobias.org/:always-auth=true
//pkg.zerobias.org/:_authToken=${ZB_TOKEN}
