@auditlogic:registry=https://npm.pkg.github.com/
@zerobias-com:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@zerobias-org:registry=https://pkg.zerobias.org/
//pkg.zerobias.org/:_authToken=${ZB_TOKEN}
