name: Publish
on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write
  packages: write
  pull-requests: write

jobs:
  publish:
    uses: zerobias-org/devops/.github/workflows/publish-reusable-nx.yml@main
    secrets: inherit
    with:
      skip-publish-announcement: 'false'
